*
{
    margin: 0;
    padding: 0;
}

#login-page-container
{
    display: table;
    height: 100%;
    width: 100%;
}

#login-page-banner-container
{
    position: absolute;
    width: 100%;
}

#login-page-banner
{
    width: 35%;
    margin: 5vw 32.5%;
}

.form-login-container
{
    display: table-cell;
    vertical-align: middle;
}

.form-login
{
    width: 20vw;
    padding: 1.5vw;
    background-color: #ffffff;
    box-shadow: 0.0266vw 0.0532vw 0.0532vw #eeeeee;
    border: 0.0532vw solid rgba(200, 200, 200, 0.2);
    margin: auto;
    vertical-align: middle;
}

.form-login-field
{
    width: 85%;
    margin: 0 7.5% 0.5vw;
    height: 1.8vw;
    border: none;
    outline: none;
    font-size: 1vw;
    padding: 0 3%;
    text-align: center;
    transition: 0.2s all ease-out;
}

.form-login-field:focus
{
    background-color: rgba(27, 162, 190, 0.1);
    text-align: left;
}

.form-login-button
{
    width: 60%;
    height: 2.5vw;
    border-radius: 0.25vw;
    margin: 0.5vw 20% 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2c95ea;
    color: white;
    font-size: 1vw;
    text-transform: uppercase;
}

.hub-topsection
{
    width: 100%;
}

.hub-logosection
{
    width: 100%;
    display: inline-block;
    height: 4vw;
}

.hub-logo
{
    height: 90%;
    margin: 0.2% 0 0 0.2%;
    float: left;
}

.hub-disconnect
{
    float: right;
    height: 90%;
    margin: 0.2% 0.2% 0 0;
    cursor: pointer;
}

.hub-logosection-datetime
{
    float: right;
    font-size: 1vw;
    margin: 0.5% 1%;
}

.hub-navsection
{
    border-width: 1px 0 1px 0;
    border-color: #eeeeeeaa;
    border-style: solid;
    display: inline-block;
    width: 100%;
    box-shadow: 1px 1px 1px #f4f4f4;
}

.hub-navsection-button
{
    font-family: 'Montserrat', sans-serif, 'Arial';
    outline: none;
    border: none;
    padding: 1vw 1.5vw;
    font-size: 1vw;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    color: black;
}

.hub-navsection-button:hover
{
    background-color: #2c95ea;
    color: white;
}
